{{#if admin}}
<a href="/factions/add" class="btn btn-success">Crear Facción</a>
<a href="/champions/add" class="btn btn-success">Crear Campeón</a>
{{> admin/all-factions }}
{{else}}
{{> all-facionts}}
{{/if}}