<div class="card">
  <h5 class="card-header">Que és Deckpedia?</h5>
  <div class="card-body">
    <h5 class="card-title">Una herramienta para facilitar</h5>
    <p class="card-text">Nuestro objetivo es facilitarte la creación de equipos, como la obtención de campeones, saber tu estado y poder compartir tu colección a otros jugadores.</p>
  </div>
</div>