<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4">Deckpedia</h1>
        <p class="lead">lorem ipsum, dolor sit amet consectetur adipiscing elit.</p>
        <hr class="my-4">
        <p>mucho texto</p>
    </div>
</div>