body {
  background: #eee;
  min-height: 100vh; }

body .container {
  padding-top: 20px; }

main {
  margin-bottom: 200px; }

main .row {
  margin-bottom: 15px; }

.card-faction {
  margin: auto; }

footer {
  width: 100vw;
  background: black; }

@media (min-width: 590px) {
  .card-faction {
    max-width: 15vw; } }
