{{#if admin}}
<a href="/champions/add" class="btn btn-success">Crear Campeón</a>
{{/if}}

<h2 class="text-center mt-3">Legendarios</h2>
<div class="row">
    {{#each legendarios}}
    {{> champion }}
    {{/each}}
</div>

<h2 class="text-center mt-3">Épicos</h2>
<div class="row">
    {{#each epicos}}
    {{> champion }}
    {{/each}}  
</div>

<h2 class="text-center mt-3">Raros</h2>
<div class="row">
    {{#each raros}}
    {{> champion }}
    {{/each}}  
</div>

<h2 class="text-center mt-3">Infrecuentes</h2>
<div class="row">
    {{#each infrecuentes}}
    {{> champion }}
    {{/each}}  
</div>

<h2 class="text-center mt-3">Común</h2>
<div class="row">
    {{#each comun}}
    {{> champion }}
    {{/each}}  
</div>