<dic class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>New Champion</h3>
        </div>
        <div class="card-body">
            <form action="/champions/new-champion" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <input type="file" class="form-control-file" name="image">
                    </div>
                    <div class="form-group">
                        <select class="form-select" aria-label="Select type" name="type">
                            <option selected>Select type</option>
                            <option value="0">HP</option>
                            <option value="1">Apoyo</option>
                            <option value="2">Ataque</option>
                            <option value="3">Defensa</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-select" aria-label="Select faction" name="faction">
                            <option selected>Select faction</option>
                            {{#each factions}}
                            <option value="{{slug}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-select" aria-label="Select rarity" name="rarity">
                            <option selected>Select rarity</option>
                            <option value="0">Común</option>
                            <option value="1">Poco Frecuente</option>
                            <option value="2">Raro</option>
                            <option value="3">Épico</option>
                            <option value="4">Legendario</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-select" aria-label="Select affinity" name="affinity">
                            <option selected>Select affinity</option>
                            <option value="0">Magia (Azul)</option>
                            <option value="1">Fuerza (Rojo)</option>
                            <option value="2">Espiriu (Verde)</option>
                            <option value="3">Vacío (Morado)</option>
                        </select>
                    </div>
                    <h5>Stats</h5>
                        <div class="form-group">
                            <input type="number" class="form-control" name="hp" placeholder="HP"/>
                            <input type="number" class="form-control" name="atk" placeholder="ATK" />
                            <input type="number" class="form-control" name="def" placeholder="DEF" />
                            <input type="number" class="form-control" name="vel" placeholder="VEL" />
                            <input type="number" class="form-control" name="pcrit" placeholder="P.CRIT" />
                            <input type="number" class="form-control" name="dcrit" placeholder="D:CRIT" />
                            <input type="number" class="form-control" name="resist" placeholder="RESIST" />
                            <input type="number" class="form-control" name="punt" placeholder="PUNT" />
                        </div>
                    <h5>Points</h5>
                        <div class="form-group">
                            <input type="number" step="0.1" class="form-control" name="campaign" placeholder="Campaña" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="defarena" placeholder="Def.Arena" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="atkarena" placeholder="ATK.Arena" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="minotaurus" placeholder="Minotauro" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="clan" placeholder="Jefe de Clan" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="hidra" placeholder="Hidra" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="golem" placeholder="Golem de hielo" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="spider" placeholder="Araña" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="drake" placeholder="Dragón" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="fire" placeholder="Caballero de fuego" min="0" max="5"/>
                            <input type="number" step="0.1" class="form-control" name="force" placeholder="Torre de fuerza" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="magic" placeholder="Torre de magia" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="spirit" placeholder="Torre de espiritu" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="void" placeholder="Torre de vacio" min="0" max="5" />
                            <input type="number" step="0.1" class="form-control" name="factions" placeholder="Facciones" min="0" max="5" />
                        </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</dic>