
<div class="row align-items-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{champion.name}}</h5>
            </div>
            <img src="public/img/blank-img.jpg" class="card-img-bottom" >
        </div> 
    </div>
    <div class="col-8">
        <table class="table table-bordered border-primary">
            <thead class="table-dark">
                <tr>
                    <th colspan="8" class="text-center">STATS</th>
                </tr>
                <tr>
                    <th class="text-center">HP</th>
                    <th class="text-center">ATK</th>
                    <th class="text-center">DEF</th>
                    <th class="text-center">VEL</th>
                    <th class="text-center">P.CRIT</th>
                    <th class="text-center">D.CRIT</th>
                    <th class="text-center">RESIST</th>
                    <th class="text-center">PUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1050</td>
                    <td class="text-center">1050</td>
                    <td class="text-center">1050</td>
                    <td class="text-center">1050</td>
                    <td class="text-center">10%</td>
                    <td class="text-center">10%</td>
                    <td class="text-center">1050</td>
                    <td class="text-center">1050</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered border-primary">
            <thead class="table-dark">
                <tr>
                    <th colspan="14" class="text-center">PUNTUACIONES</th>
                </tr>
                <tr>
                    <th class="text-center">Arena ATK</th>
                    <th class="text-center">Arena DEF</th>
                    <th class="text-center">Campaña</th>
                    <th class="text-center">Clan</th>
                    <th class="text-center">Facciones</th>
                    <th class="text-center">Torre Fuerza</th>
                    <th class="text-center">Torre Magia</th>
                    <th class="text-center">Torre Espiritu</th>
                    <th class="text-center">Torre Vacio</th>
                    <th class="text-center">Caballero Fuego</th>
                    <th class="text-center">Golem de Hielo</th>
                    <th class="text-center">Dragón</th>
                    <th class="text-center">Arañas</th>
                    <th class="text-center">Minotauro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCollection">Add collection</button>
        {{#if admin}}
            <a href="/champions/edit/{{champion._id}}" class="btn btn-warning">Editar</a>
        {{/if}}
    </div>
</div>

<!-- Add collection modal -->
<div class="modal fade" id="addCollection" tabindex="-1" aria-labelledby="addCollection" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCollectionLabel">Add Collection</h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>