<footer class="text-muted pb-3 px-3 fixed-bottom">
    <div class="container">
        <p class="float-end mb-1">Back to top</p>
        <p class="mb-1">Deckpedia</p>
        <p class="mb-0">Developed by Rastler</p>
    </div>
</footer>