<h1 class="text-center mt-3">Telerianos</h1>
<div class="row">
    {{#each telerianos}}
    {{> public/faction }}
    {{/each}}
</div>
<h1 class="text-center mt-3">Pacto de Gaellen</h1>
<div class="row">
    {{#each pactos}}
    {{> public/faction }}
    {{/each}}
</div>
<h1 class="text-center mt-3">Corrompidos</h1>
<div class="row">
    {{#each corrompidos}}
    {{> public/faction }}
    {{/each}}
</div>
<h1 class="text-center mt-3">Unión Niresana</h1>
<div class="row">
    {{#each union}}
    {{> public/faction }}
    {{/each}}
</div>