<div class="col-sm text-center">
    <a href="/factions/{{slug}}">
        <div class="card card-faction">
            <img src="/img/factions/{{image}}" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
            </div>
        </div>
    </a>
</div>