<h1 class="text-center mt-3">Telerianos</h1>
<div class="row">
    {{#each telerianos}}
    {{> admin/faction }}
    {{/each}}
</div>
<h1 class="text-center mt-3">Pacto</h1>
<div class="row">
    {{#each pactos}}
    {{> admin/faction }}
    {{/each}}
</div>